In [3]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [16]:
blackrock_data_link = "data/blackrock_sustainability_data.csv"
blackrock_data = pd.read_csv(blackrock_data_link)
blackrock_data = blackrock_data.rename(columns = {'Unnamed: 0':'Year'})

In [17]:
blackrock_data.head()

,Year,Revenue ($millions),Headcount,Scope 1,Scope 2,Scope 1 + 2,Total Scope 1 + 2 per revenue,Facilities CO2e per employee,Scope 3 Business travel,Scope 3 Business travel per employee,Total Electricity Consumed,Electricity consumed per employee
0,2014,11081,11666,5756,27409,33164,3.0,2.8,41784,3.6,71298,6.1
1,2015,11401,12994,4758,28003,27734,2.4,2.1,39942,3.1,74565,5.7
2,2016,12261,13337,4281,25518,29799,2.4,2.2,43175,3.2,69399,5.2
3,2017,13600,13816,5050,21539,26589,2.0,1.9,39238,2.8,66097,4.8
4,2018,14198,15349,4805,21392,26198,1.8,1.7,45384,3.0,69540,4.5